librosa
pytorch-lightning
lightning
transformers
moviepy
numpy
openai
opencv-python
openpyxl
pandas
pydub
PyYAML
replicate
requests
resampy
spacy
streamlit
yt-dlp
json-repair
ruamel.yaml
InquirerPy
autocorrect-py
ctranslate2
edge-tts
whisperx
demucs
syllables
pypinyin
g2p-en
xmltodict
